@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #63e5ff;
    overflow: hidden;
    z-index: -99;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #58ff82;
    top: 26%;
    left: 25%;
    animation-duration: 13s;
    animation-delay: -17s;
    transform-origin: 9vw -7vh;
    box-shadow: -40vmin 0 5.537727174167898vmin currentColor;
}
.background span:nth-child(1) {
    color: #00d4ff;
    top: 29%;
    left: 86%;
    animation-duration: 38s;
    animation-delay: -7s;
    transform-origin: -10vw -8vh;
    box-shadow: -40vmin 0 5.967312088159886vmin currentColor;
}
.background span:nth-child(2) {
    color: #00d4ff;
    top: 30%;
    left: 27%;
    animation-duration: 54s;
    animation-delay: -25s;
    transform-origin: 25vw -3vh;
    box-shadow: -40vmin 0 5.3312040294996885vmin currentColor;
}
.background span:nth-child(3) {
    color: #00d4ff;
    top: 76%;
    left: 55%;
    animation-duration: 9s;
    animation-delay: -11s;
    transform-origin: -22vw 25vh;
    box-shadow: 40vmin 0 5.767130279821489vmin currentColor;
}
.background span:nth-child(4) {
    color: #00d4ff;
    top: 43%;
    left: 31%;
    animation-duration: 47s;
    animation-delay: -48s;
    transform-origin: 14vw 22vh;
    box-shadow: 40vmin 0 5.371133261321544vmin currentColor;
}
.background span:nth-child(5) {
    color: #58ff82;
    top: 53%;
    left: 74%;
    animation-duration: 24s;
    animation-delay: -34s;
    transform-origin: 0vw -24vh;
    box-shadow: 40vmin 0 5.47968387845358vmin currentColor;
}
.background span:nth-child(6) {
    color: #58ff82;
    top: 44%;
    left: 52%;
    animation-duration: 42s;
    animation-delay: -10s;
    transform-origin: 0vw -20vh;
    box-shadow: 40vmin 0 5.785822585394816vmin currentColor;
}
.background span:nth-child(7) {
    color: #58ff82;
    top: 29%;
    left: 35%;
    animation-duration: 20s;
    animation-delay: -31s;
    transform-origin: -6vw 21vh;
    box-shadow: -40vmin 0 5.698132041701157vmin currentColor;
}
.background span:nth-child(8) {
    color: #58ff82;
    top: 27%;
    left: 77%;
    animation-duration: 38s;
    animation-delay: -26s;
    transform-origin: 19vw 23vh;
    box-shadow: -40vmin 0 5.8062077635741005vmin currentColor;
}
.background span:nth-child(9) {
    color: #58ff82;
    top: 6%;
    left: 36%;
    animation-duration: 34s;
    animation-delay: -49s;
    transform-origin: -18vw 7vh;
    box-shadow: 40vmin 0 5.077656575335199vmin currentColor;
}
.background span:nth-child(10) {
    color: #00d4ff;
    top: 94%;
    left: 52%;
    animation-duration: 25s;
    animation-delay: -28s;
    transform-origin: 2vw 20vh;
    box-shadow: 40vmin 0 5.483763351739237vmin currentColor;
}
.background span:nth-child(11) {
    color: #00d4ff;
    top: 79%;
    left: 3%;
    animation-duration: 38s;
    animation-delay: -16s;
    transform-origin: -6vw 23vh;
    box-shadow: 40vmin 0 5.507038126109592vmin currentColor;
}
.background span:nth-child(12) {
    color: #58ff82;
    top: 89%;
    left: 97%;
    animation-duration: 23s;
    animation-delay: -17s;
    transform-origin: 14vw -10vh;
    box-shadow: -40vmin 0 5.500242596410812vmin currentColor;
}
.background span:nth-child(13) {
    color: #00d4ff;
    top: 73%;
    left: 87%;
    animation-duration: 8s;
    animation-delay: -37s;
    transform-origin: 12vw 9vh;
    box-shadow: -40vmin 0 5.4806306856594285vmin currentColor;
}
.background span:nth-child(14) {
    color: #00d4ff;
    top: 14%;
    left: 58%;
    animation-duration: 15s;
    animation-delay: -47s;
    transform-origin: -12vw -24vh;
    box-shadow: 40vmin 0 5.332204352593619vmin currentColor;
}
.background span:nth-child(15) {
    color: #58ff82;
    top: 24%;
    left: 46%;
    animation-duration: 40s;
    animation-delay: -39s;
    transform-origin: 7vw -15vh;
    box-shadow: 40vmin 0 5.02423459827299vmin currentColor;
}
.background span:nth-child(16) {
    color: #00d4ff;
    top: 78%;
    left: 37%;
    animation-duration: 8s;
    animation-delay: -11s;
    transform-origin: -22vw -12vh;
    box-shadow: 40vmin 0 5.090854328911229vmin currentColor;
}
.background span:nth-child(17) {
    color: #58ff82;
    top: 17%;
    left: 98%;
    animation-duration: 52s;
    animation-delay: -1s;
    transform-origin: -14vw -3vh;
    box-shadow: 40vmin 0 5.0754742965690625vmin currentColor;
}
.background span:nth-child(18) {
    color: #00d4ff;
    top: 16%;
    left: 10%;
    animation-duration: 53s;
    animation-delay: -21s;
    transform-origin: -5vw 2vh;
    box-shadow: -40vmin 0 5.599568066890251vmin currentColor;
}
.background span:nth-child(19) {
    color: #58ff82;
    top: 49%;
    left: 7%;
    animation-duration: 36s;
    animation-delay: -33s;
    transform-origin: -3vw 14vh;
    box-shadow: 40vmin 0 5.728606710256613vmin currentColor;
}
