*{
    font-size: 65.5%;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
}



header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
    padding-top: 6rem;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 15em;
    position: relative;
    line-height: 1em;
    animation-duration: 2s;
    animation-name: titleShow;
    margin: 0.3em 0;
}
h1 span{
    display: block;
    animation-duration: 1.5s;
    animation-name: titleShow;

}
h1::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 2.3em;
    height: 2px;
    width: 80%;
    background-color: black;

}
header h3{
    font-size: 5em;
    animation-name: titleShow;
    animation-duration: 1.5s;
    font-weight: 500;
    margin-bottom: 0;
}
header img{
    width: 15rem;
    margin: 5rem 0;
    animation: navShow 3s;
}
header > a{
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    background: #58ff82;
    border: solid 2px black;
    border-radius: 5px;
    margin-top: 5rem;
    animation: bounce2 1.5s;
    transition: ease .2s;
}
header > a:hover{
    transform: scale(1.1);
}



/* nav */
nav 
{
    position: absolute;
    top: 0;
    transition: ease-in-out 0.5s;
    display: flex;
    background-color: #58ff82;
    width: 100%;
    border-bottom: solid black 1px;
    z-index: 99;
}
nav:hover{
    right: 0;
}
nav ul{
    position: relative;
    list-style: none;
    line-height: 6rem;
    padding: 0;
    font-size: 13em;
    display: flex;
    flex-direction: column;
    margin: 0;
}
nav > a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3rem;
    font-size: 3rem;
}

.selected{
    border-left: solid black 5px;
}
nav li{
    padding: 0 1rem;
    animation-duration: 1.5s;
    animation-name: navShow;
    transition: ease-in .2s;
    font-size: 2.4rem;
}
nav li i{
    font-size: 2rem;
    margin: 0 2rem 0 1rem;
}

nav li:not(.selected):hover{
    transform: scale(1.1);
}

nav li:nth-of-type(1){
    animation-fill-mode:both;
}
nav li:nth-of-type(2){
    animation-delay: 0.25s;
    animation-fill-mode: both;

}
nav li:nth-of-type(3){
    animation-delay: 0.5s;
    animation-fill-mode: both;

}
nav li:nth-of-type(4){
    animation-delay: 0.75s;
    animation-fill-mode: both;

}
nav li:nth-of-type(5){
    animation-delay: 1s;
    animation-fill-mode: both;

}
.close li:not(.selected){
    display: none;
}
#burger{
    width: 30px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 2rem;
    bottom: 3rem;
    transition: ease-in .2s;
    transform: rotate(45deg);
}
.close #burger::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    bottom: 1rem;
}
#burger::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    transform: rotate(-90deg);
}
.close #burger::after{
    top: 1rem;
    transform: rotate(0deg);
}
.close #burger{
    transform: rotate(0deg);
}



/* button to change page */
#next, #previous{
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    transition: ease-in .2s;
    cursor: pointer;
}
#next{
    bottom: 1rem;
    right: 8rem;
}
#previous{
    bottom: 1rem;
    left: 8rem;
}
#next i{
    margin-left: 1rem;
}
#previous i{
    margin-right: 1rem;
}
#next:hover, #previous:hover{
    opacity: 0.5;
    transform: scale(1.2);
}



/* animations*/


@keyframes titleShow {
    from {
      opacity: 0%;
      margin-left: -50rem;
    }
  
    to {
      opacity: 100%;
      margin-left: 0;
    }
}
@keyframes navShow {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-7px);}
}

@keyframes textColor {
    0%{
        color: black;
    }
    50%{
        color: white;
    }
    100%{
        color: black;
    }
}



/* responsive */
@media screen and (min-width: 992px) {
    body{
        display: flex;
    }
    header{
        width: 30%;
        justify-content: center;
        align-items: flex-start;
        padding: 3rem;
        height: 100vh;
    }
    header h1{
        text-align: start;
        width: 20%;
        font-size: 6vw;
    }
    header img{
        margin-top: 0;
    }
    nav{
        top: 50%;
        transform: translateY(-50%);
        justify-content: center;
        right: -18rem;
        flex-direction: column;
        padding-right: 2rem;
        border-left: solid 1px black;
        height: 100%;
        width: 23.5rem;
    }
    nav > a{
        display: none;
    }
    .close ul li:not(.selected){
        display: block;
    }
    #burger{
        display: none;
    }
    .selected{
        border-left: solid black 5px;
    }
}